		<footer>
			<div>
				<a href="mailto:zackrisongeorge@disroot.org"><img src="/email.gif" alt="Email gif" title="Email me: zackrisongeorge@disroot.org" /></a>
				<a href="/posts/index.xml"><img src="/rss.svg" alt="RSS Feed" title="Subscribe via RSS for updates." /></a>
			</div>
			<a href="{{ .Site.BaseURL }}"><p>{{ .Site.BaseURL }}</p></a>
			<a href="https://codeberg.org/GeorgeZack/website/src/branch/master/LICENSE" target="_blank"><img id="gpl-logo" src="/gplv3.png" alt="GPL3 logo" title="Use free (as in freedom) software." /></a>
		</footer>
	</body>
</html>
