<nav>
	{{- $sec := .Page.Section }}
    {{ range.Site.Menus.main.ByWeight }}{{ $base := path.Base .URL }}
        {{ $file := "" }}
		<a {{ if or ( eq $sec $base ) ( eq $file $base ) ( and (eq $sec "") ( eq $file "_index") (eq $base "/") ) }}class="menuactive" {{ end }}href="{{ .URL }}">
			{{ .Name }}
		</a>
    {{- end }}
</nav>
