{{ if or .NextInSection .PrevInSection -}}
	<div class="nextprev">
	{{- with .PrevInSection }}
		<div class="prevart">
			<a href="{{ .RelPermalink}}" class="prevart">Previous:<br>{{.Title}}</a>
		</div>
	{{ end -}}
	{{- with .NextInSection -}}
		<div class="nextart">
			<a href="{{ .RelPermalink}}" class="nextart" >Next:<br>{{.Title}}</a>
		</div>
	{{ end -}}
	</div>
{{ end -}}
