<!--
	class: class of the figure
	link: url the image directs to
	alt: alternative text
	caption: caption
	mouse: what the image says when moused over ("title" in HTML)
-->
<figure {{ with .Get "class" }}class="{{.}}"{{ end -}}
	{{- with .Get "align" }} style="place-items: {{.}}"{{ end -}}
>
	{{- with .Get "link"}}<a href="{{.}}">{{ end -}}
	<img src="{{ .Get "src" }}"
		{{- with .Get "alt" }} alt="{{.}}"{{ end -}}
		{{- with .Get "mouse" }} title="{{.}}"{{ end -}}
		{{- with .Get "width" }} style="max-width: {{.}}"{{ end -}}
	>
	{{- if .Get "link"}}</a>{{ end -}}
	{{- with .Get "caption" -}}
	<figcaption>
	{{- . -}}
	</figcaption>
	{{- end -}}
</figure>
