<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
	<head>
		<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
		<link rel="canonical" href="{{ .Site.BaseURL }}">
		<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
		<link rel='stylesheet' type='text/css' href='/style.css'>
		<link rel='stylesheet' type='text/css' href='/notices.css'>
		{{ with .Site.Params.favicon }}
			<link rel="icon" href="{{ . }}">
		{{ end -}}
		<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
		{{ if isset .Params "tags" }}
			<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
		{{ end -}}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="index, follow">
		<meta charset="utf-8">
	</head>
	<body>
		<main>
			<div id="paper"></div>
			<div id="content">
				<h1>{{ .Title }}</h1>
				<p style="text-align: center;">
					Notice is posted from our venerable Grand Duke of {{ .Params.duchy }}, highest and most noblest of leaders, grand councilor of the Gods and patron of goodness, protector of the Brurian people and claimnant to the throne of the Holy Kingdom of Bruria,
					</br><span style="font-weight: bold;">{{ .Params.author }}</span>,
					</br>Written {{ .Date.Month }} {{ .Date.Day | humanize }}, {{ sub .Date.Year 1978 | humanize }} Year of the Great New Era
				</p>
				</br>
				<article>
					{{ .Content -}}
				</article>
				</br>
				<p style="text-align: center;">
					Written by the magistrate whom serve {{ .Params.duchy }} and are endowed by {{ .Params.pronoun }} Highness,
					</br>Sealed by {{ .Params.pronoun }} Highness,
					</br><span style="font-weight: bold;">{{ .Params.author }}</span>
				</p>
			</div>
		</main>
		<div style="font-size: 10px; text-align: center;">
			<p>Dates, authorship, and setting related lanuage is for flavor text. Dates may not actually correspond to current game date and authorship may not actually make sense if the game world progresses. Contact referee for any clarificaion.</p>
			<a href="{{ .Site.BaseURL }}/notices">Return to main site...</a>
		</div>
	</body>
	<svg>
		<filter id="wavy2">
			<feTurbulence x="0" y="0" baseFrequency="0.02" numOctaves="5" seed="1" />
			<feDisplacementMap in="SourceGraphic" scale="20" />
		</filter>
	</svg>
</html>
