	{{ partial "header.html" . -}}
	<h1>{{ .Title }}</h1>
	<article>
		{{ .Content -}}
	</article>
	<div class="banners">
		<a href="https://www.gnu.org" target="_blank">
			<img src="./images/linux_powered.gif" alt="GNU is often left out when talking about the GNU/Linux operating system. GNU is critical to free software and the Linux project." title="GNU is often left out when talking about the GNU/Linux operating system. GNU is critical to free software and the Linux project."/>
		</a>
		<a href="https://suckless.org/" target="_blank">
			<img src="./images/suckless-btn.png" alt="Software should not suck! Suckless is a software programming group whos philosophy is to make software that doesn't suck." title="Software should not suck! Suckless is a software programming group whos philosophy is to make software that doesn't suck."/>
		</a>
		<a href="https://codeberg.org/GeorgeZack/website" target="_blank">
			<img src="./images/browser.gif" alt="My website uses GPL3.0, so I want to keep things transparent. Click to view my website's code, hosted on Codeberg." title="My website uses GPL3.0, so I want to keep things transparent. Click to view my website's code, hosted on Codeberg."/>
		</a>
		<a href="https://neovim.io/" target="_blank">
			<img src="./images/neovim-btn.png" alt="I use NeoVim! It's great!" title="I use NeoVim! It's great!"/>
		</a>
		<a href="https://www.churchofjesuschrist.org/" target="_blank">
			<img src="./images/gospelnow.gif" alt="Church of Jesus Christ of Latter-day Saints website" title="Church of Jesus Christ of Latter-day Saints website"/>
		</a>
		<a href="https://www.hplovecraft.com/" target="_blank">
			<img src="./images/hplabutn.gif" alt="H.P. Lovecraft Archive website" title="H.P. Lovecraft Archive website"/>
		</a>
	</div>
</main>
{{ partial "footer.html" . }}
