	{{ partial "header.html" . -}}
	<style>
	</style>
	<h1>{{ .Title }}</h1>
	<article class="centered">
		{{ .Content -}}
		<div class="gallery">
			{{ range readDir "content/frens/images" }}
				<a class="gallery-item" href="./images/{{.Name}}" target="_blank">
				{{ if (lower .Name | findRE "\\.(gif|jpg|jpeg|tiff|png|bmp)") }}
					<img src="./images/{{.Name}}" />
				{{ else if (lower .Name | findRE "\\.(mp4)") }}
					<video src="./images/{{.Name}}"></video>
					<div class="play-button">></div>
				{{ end }}
				</a>
			{{ end }}
		</div>
	</article>
</main>
{{ partial "footer.html" . }}
