	{{ partial "header.html" . -}}
	<h1 id="tag_{{ .Title }}">{{ .Title | title }}</h1>
	<article>
		{{ .Content -}}
		<ul>
		{{- range.Pages }}
			<li class="post-list-item">
				<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time>
				&mdash;
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			</li>
		{{ end -}}
		</ul>
		<div><a href="{{ .Site.BaseURL }}tags">Browse by tag</a></div>
	</article>
</main>
{{- partial "footer.html" . }}
