	{{ partial "header.html" . -}}
	<h1>{{ .Title }}</h1>
	<h5>Published: {{ .Date | time.Format ":date_long" }}</h5>
	<article>
		{{ .Content -}}
		<div class="end-of-article"></div>
		{{ partial "nextprev.html" . -}}
		{{ partial "taglist.html" . -}}
		<div class="back-to-posts"><a href="{{ .Site.BaseURL }}posts">Return to post list</a></div>
	</article>
</main>
{{ partial "footer.html" . }}
