	{{ partial "header.html" . -}}
	<h1 id="tag_{{ .Title }}">{{ .Title | title }}</h1>
	<article>
		{{ .Content -}}
		<ul>
		{{- range.Pages }}
			<li class="tag-list-item">
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			</li>
		{{ end -}}
		</ul>
		<div><a href="{{ .Site.BaseURL }}posts">Browse by post</a></div>
	</article>
</main>
{{- partial "footer.html" . }}
