* {
	box-sizing: border-box;
	object-fit: contain;
}

html {
	font-size: 18px;
}

body, html {
	height: 100%;
}

body {
	background-attachment: fixed;
	background: #272727;
	color: #ccc;
	display: flex;
	flex-direction: column;
	position: relative;
}

main {
	align-items: stretch;
	align-content: stretch;
	display: flex;
	flex-direction: column;
	margin: 0 auto auto;
	max-width: 1100px;
	padding: 70px;
	position: relative;
	width: 100%;
	text-align: justify;
	z-index: 1;
}

footer, nav {
	align-items: center;
	align-content: center;
	background: #2e7d32;
	box-shadow: 0 -1px 5px #000000aa;
	display: flex;
	justify-content: space-evenly;
	padding: 5px 25px;
	position: relative;
	z-index: 100;
}

footer p, nav p {
	margin: 0;
}

nav {
	box-shadow: 0 1px 5px #000000aa;
}

footer a, footer a:visited, nav a, nav a:visited {
	color: #fff;
	font-size: 15px;
}

footer a:hover, footer a:active, nav a:hover, nav a:active {
	color: #ccc;
}

footer a {
	align-items: center;
	align-content: center;
	display: flex;
}

footer img {
	width: 30px;
}

footer div {
	display: flex;
	gap: 10px;
}

article.centered {
	text-align: center;
}

a, a:visited {
	color: #8F9FC7;
}

a:hover {
	color: #445274;
}

.banners {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 70px 0 0;
}

.banners * {
	text-decoration: none;
}

.back-to-posts {
	display: flex;
	justify-content: center;
	margin: 40px auto 0;
}

body, p, h1, h2, h3, h4, pre, code {
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

h1 {
	margin: 0 0 20px;
	text-align: center;
}

h2, h3, h4, h5, h6 {
	margin: 0 0 10px;
}

img {
	max-width: 100%;
}

p {
	margin: 10px 0;
}

blockquote {
	background: rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	margin: 10px;
	padding: 15px;
}

blockquote p {
	margin: 0;
}

code, pre {
	tab-size: 4;
}

code::-webkit-scrollbar, pre::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

code::-webkit-scrollbar-track, pre::-webkit-scrollbar-track {
	background: transparent;
}

code::-webkit-scrollbar-thumb, pre::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: #444;
	border-radius: 5px;
}

code::-webkit-scrollbar-thumb:hover, pre::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.end-of-article {
	background-size: 33px 33px;
	background-image: repeating-linear-gradient(45deg, #2e7d32 0, #2e7d32 3px, #ffffff00 0, #ffffff00 50%);
	display: block;
	height: 100px;
	margin: 100px 0;
	width: 100%;
}

figure {
	display: grid;
	justify-items: center;
}

.gallery {
	align-items: center;
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

.gallery * {
	flex: 0 0 calc(25% - 10px);
}

.gallery-item {
	display: flex;
	justify-content: center;
	position: relative;
}

.gallery-item *:not(div) {
	width: 100%;
}

.gallery-item .play-button {
	color: white;
	font-size: 32px;
	font-weight: bold;
	left: 50%;
	position: absolute;
	top: 50%;
	text-decoration: none;
	transform: translate(-50%, -50%);
	z-index: 1;
}

ol, ul {
	padding: 0 0 0 20px;
}

.post-list-item {
	text-align: left;
}

pre {
	background-color: #333;
	backdrop-filter: blur(2px);
	border-radius: 5px;
	box-shadow: 1px 1px 3px #000000 inset;
	color: #ccc;
	margin: 20px;
	overflow-x: auto;
	padding: 5px 10px;
}

#gpl-logo {
	width: 88px;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid #444;
	padding: 7px 15px;
}

th {
	border-bottom: 1px solid white;
	padding: 5px 10px;
}

.taglist {
	text-align: center;
	clear: both;
}

.tag-list-item {
	list-style: square;
}

time {
	font-family: monospace;
}

.nextprev {
	display: flex;
	gap: 10px;
	justify-content: space-between;
	margin: 10px 0;
}

.prevart {
	text-align: left;
}

.nextart {
	text-align: right;
}

.nextart, .prevart {
	flex-basis: calc(50% - 10px);
	flex-grow: 1;
	flex-shrink: 0;
}

@media (max-width: 700px) {
	main {
		padding: 50px 30px;
	}
}

@media (max-width: 425px) {
	blockquote, code, pre {
		margin: 10px 0;
		padding: 5px 10px;
	}

	.end-of-article {
		margin: 50px 0;
	}

	main {
		padding: 50px 20px;
	}

	nav, footer {
		padding: 10px;
	}
}

@media (max-width: 375px) {
	footer > img {
		display: none;
	}

	nav a {
		font-size: 13px;
	}
}
