	{{ partial "header.html" . -}}
	<h1>{{ .Title }}</h1>
	<article class="centered">
		<hr/>
		<br/>
		<h2>Latest Posts</h2>
		{{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
			<a href="{{ .Permalink }}">{{ .Title }}</a>
			<br/>
		{{end}}
		<br/>
		<hr/>
		<br/>
		If you'd like to know more <a href="{{ .Permalink }}about">about me</a>, click on that link. Peruse around. Take your time.
		<br/>
		<br/>
		{{ .Content -}}
	</article>
</main>
{{ partial "footer.html" . }}
